  .client-title {
    color: $title-text-color;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
  }
}


.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
 
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.client-list__item {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  flex-basis: calc((100% - 2 * 30px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
    // margin-left: 15px;
    // margin-right: 15px;
    // margin-bottom: 15px;
}
}

.client-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid $icon-soc-color;
  border-radius: 4px;

  transition: color 250ms $timing-function;
  &:hover,
  &:focus {
    border-color: $accent-color;
  }
    transition: color 250ms $timing-function;
  }


.client-list__icon {
  justify-content: center;
  align-items: center;
  fill: $icon-soc-color;

  .client-list__link:hover &,
  .client-list__link:focus & {
    fill: $accent-color;

    transform: translate(2%, 2%);
    transition: transform 250ms $timing-function;
  }
}
