.features {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
}
}

.feature-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    margin: 0px;
  }
}
  
.feature-list__item {
    &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

    @media screen and (min-width: 1200px) {
    width: 270px;
    margin: 0px;

      &:not(:last-child) {
        margin-right: 30px;
      }
  }
  }  

.feature-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 450px;
  height: 120px;
  background-color: $bcg-secondary;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;

  @media screen and (min-width: 768px) {
    text-align: start;
}
}

.feature-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
