.page-header {
  border-bottom: 1px solid #ececec;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      padding: 16px 15px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1200px;
    }
  }
    
}

.header-tablet {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  }

.navbar {
  @media screen and (min-width: 768px) {
    margin-right: 84px;
  }

  @media screen and (min-width: 1200px) {
  margin-right: 305px;
  }
}

.navbar-list {
  @media screen and (min-width: 768px) {
    display: flex;
    
  }
}

.navbar-list__item:not(:last-child){
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}


.navbar-list__link {
  display: block;
  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  cursor: pointer;

  transform: scale(1);
  transition: transform 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;

    transform: scale(1.1);
    transition: transform 250ms $timing-function;
  }
  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.navbar-list__link--active {
  color: $accent-color;
  &::after {
    content: "";
    display: block;
    position: relative;
    top: 33px;
    width: 100%;
    bottom: auto;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

// .navigation-list {
//   display: flex;
//   &__item:not(:last-child) {
//     margin-right: 50px;
//   }
// }


// .navigation-list {
//   margin-top: 48px;
//   // margin-bottom: 302px;
// }





// .contacts {
//   // margin-bottom: 64px;
// }



  