.team-section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bcg-secondary;

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $title-text-color;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
   margin-left: -15px;
   margin-right: -15px;
  }
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
  @media screen and (max-width: 767px) {
  margin-bottom: 30px;
  // width: calc((100% - 90px) / 4);
  // margin-right: 30px;
  }
}
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    width: 50%;
    flex-basis: calc((100% - 4 * 15px) / 2);

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
  }
}



  // &:nth-child(4n) {
  //   margin-right: 0px;
  // }


.team-box {
  padding-top: 30px;
  padding-bottom: 16px;
  text-align: center;
  background-color: $primary-white-color;

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $title-text-color;
    margin-bottom: 10px;
  }

  &__profession {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}

.social-box {
  padding-bottom: 24px;
  // padding: 0px 32px 30px;
  background-color: $primary-white-color;
}

.social-list {
  display: flex;
  justify-content: center;
  
}

.social-list__item {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transform: scale(0.9);
  transition: transform 250ms $timing-function;

  &:last-child {
    margin-right: 0px;
  }

  &:focus,
  &:hover {
    background-color: $accent-color;
    transform: scale(1);
    transition: transform 250ms $timing-function;
  }
}
.social-list__icon {
  fill: $icon-soc-color;

  .social-list__link:focus &,
  .social-list__link:hover & {
    fill: $primary-white-color;
  }
}
