// :root {
//   --accent-color: #2196f3;
//   --primary-white-color: #ffffff;

//   --icon-soc-color: #afb1b8;
//   --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//   // Text colors
//   --primary-text-color: #757575;
//   --title-text-color: #212121;

//   // Background Color
//   --bcg-primary-color: #e5e5e5;
//   --bcg-main-color: #2f303a;
//   --bcg-secondary: #f5f4fa;
// }

$accent-color: #2196f3;
$active-bnt-color: #1976d2;
$primary-white-color: #ffffff;

$icon-soc-color: #afb1b8;

// Animation function
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// Text colors
$primary-text-color: #757575;
$title-text-color: #212121;

// Background Color
$bcg-primary-color: #e5e5e5;
$bcg-main-color: #2f303a;
$bcg-secondary: #f5f4fa;
